/*!   GENERALES   */
*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}
.ajuste_img{
    object-fit: cover;
}
/*!  BARRA DE NAVEGACIÓN  */ 
.fuente_logo{
    font-size: 50px;
}
/*!  BARRA DE NAVEGACIÓN   
.logo{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    font-size: 50px;
}
header{
    background-color: rgb(66, 63, 63);
}
.navegacion li a{
    color: white;
    padding: 25px;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navegacion{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}
*/

/*!   PORTADA   */
.f_principal{
    width: 70%;
}
.portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*!   SECCIONES DE PRODUCTOS   */
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 450px;
    gap: 5px;
    grid-template-areas:
    "n_col n_col n_col"
    "remeras casacas hoodies"
    "remeras accesorios hoodies"
    "ofertas ofertas ofertas"
    ;
}
section div img{
height: 100%;
width: 100%;
}
.n_col{
    grid-area: n_col;
    background-color:rgb(66, 63, 63) ;
}
.ofertas{
    grid-area: ofertas;
    background-color:rgb(66, 63, 63) ;
}
.remeras{
    grid-area: remeras;
    background-color:rgb(66, 63, 63) ;
}
.hoodies{
    grid-area: hoodies;
    background-color: rgb(66, 63, 63);
}
.accesorios{
    grid-area: accesorios;
    background-color: rgb(66, 63, 63);
}
.casacas{
    grid-area: casacas;
    background-color: rgb(66, 63, 63);
}
section div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section div a{
    width: 100%;
    height: 100%;
}

/*!
.bordes a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.bordes{
    border: 2px solid white;
    padding: 25px;
}
*/

/*!   FOOTER   */
footer{
    margin-top: 10px;
    height: 180px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "ubi redes suscrip";
}
h5{
    color: white;
    margin: 10px;
}
.ubi{
    grid-area: ubi;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 15px;
}
.redes{
    grid-area: redes;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
.suscrip{
    grid-area: suscrip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input_footer{
    margin: 5px;
    height: 23px;
    width: 50%;
}
.btn_footer{
    padding: 5px;
    margin: 10px;
    width: 20%;
    height: 30px;
}
h5{
    font-size: medium;
}
.circulo{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.circulo img{
    width: 60%;
}

/*!   MEDIA QUERY   */
@media screen and (max-width: 1100px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-auto-rows: 450px;
        gap: 5px;
        grid-template-areas:
        "n_col n_col "
        "remeras  hoodies"
        "casacas accesorios "
        "ofertas ofertas "
        ;
    }
}
@media screen and (max-width: 600px){
    section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-auto-rows: 450px;
        gap: 15px;
        grid-template-areas:
        "n_col n_col "
        "remeras  remeras"
        "hoodies hoodies"
        "casacas casacas "
        "accesorios accesorios"
        "ofertas ofertas "
        ;
    }
    .navegacion{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .navegacion li {
        margin: 10px;
    }
}
@media screen and (max-width: 760px) {
    footer{
        margin-top: 10px;
        height: auto;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ubi"
        "redes"
        "suscrip";
    }

}
.fuente_logo{
    font-family: 'Bevan', cursive;
    font-size: 40px;
}